*, *::before, *::after {
    box-sizing: border-box;
  }
section{
    border: solid red 1px;
}

#notifications{
    display: flex; 
    flex-direction: row ;
    justify-content: space-between;
    row-gap: 100px;
    

}

.people{
    width: 70%; 
    height: 80px;
    border: solid red 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
 
}


@media screen and (max-width: 500px) {
    .people{
        width: 100%; 
        height: 80px;
        
    }

    img{
        height: 50px;  
        padding-top: 10px;
    }

    p{
        font-size: 12px;
    }
    .textContainer{
        display: flex;
        flex-direction: column;  
    }
    .time{
       
        border: solid red 1px;
    }
}